## Function

In [6]:
def nama_makanan(makanan):
    '''fungsi untuk mencetak nama makanan'''
    print(makanan)

nama_makanan('nasi goreng')

nasi goreng

In [5]:
def greet(FirstName, LastName):
    print(f"Hello {FirstName} {LastName}")

greet("Aziz", "Apray")

Hello Aziz Apray

In [14]:
def changeme(mylist):
    ''''This changes a passed list into this function'''
    mylist = mylist + [1, 2, 3, 4]
    print("\nValues inside the function: ", mylist)
    return mylist

mylist = [10, 20, 30]
print("\nValues outside the function - before: ", mylist)

mylist = changeme(mylist)
print("\nValues outside the function - after: ", mylist)

Values outside the function - before:  [10, 20, 30]

Values inside the function:  [10, 20, 30, 1, 2, 3, 4]

Values outside the function - after:  [10, 20, 30, 1, 2, 3, 4]

In [34]:
def segitiga(a, t):
    luas = (a * t) / 2
    return luas

segitiga(5, 6)

15.0

In [35]:
def segitiga(a, t):
    luas = (a * t) / 2
    return luas

print("Luas segitiga adalah: ", segitiga(5, 6))

Luas segitiga adalah:  15.0

In [36]:
def segitiga(a, t):
    a * t / 2

print("Luas segitiga adalah: ", segitiga(5, 6))

Luas segitiga adalah:  None

In [39]:
def segitiga(a, t):
    luas = (a * t) / 2
    print("Luas segitiga adalah: %i" %luas)         # format integer
    print("Luas segitiga adalah: %.2f" %luas)       # format float

segitiga(5,6)

Luas segitiga adalah: 15
Luas segitiga adalah: 15.00

## Keyword Arguments

In [42]:
def profil(nama, usia):
    print("Nama : ", nama)
    print("Usia : ", usia)

profil("Aziz", 24)
profil(usia=24, nama="Aziz")
profil(24, "Aziz")

Nama :  Aziz
Usia :  24
Nama :  Aziz
Usia :  24
Nama :  24
Usia :  Aziz

(*) adalah asterisk

In [48]:
def siswa(nama):
    print("Siswa kelas 2 yang hadir : ", nama[:3])

siswa('Ani', 'Budi', 'Ciko', 'Dinda', 'Edi')

TypeError: siswa() takes 1 positional argument but 5 were given

In [50]:
def siswa(*nama):
    print("Siswa kelas 2 yang hadir : ", nama[:3])

siswa('Ani', 'Budi', 'Ciko', 'Dinda', 'Edi')

Siswa kelas 2 yang hadir :  ('Ani', 'Budi', 'Ciko')

## Asterisk (Arg) dan Kwargs

In [51]:
def siswa(nama1, nama2, nama3, nama4):
    print(nama2)
siswa('Ani', 'Budi', 'Ciko', 'Dinda')

Budi

In [52]:
def siswa(*nama):
    print(nama[-1])
siswa('Ani', 'Budi', 'Ciko', 'Dinda')

Dinda

In [53]:
def siswa(**nama):
    print(nama['nama3'])
siswa(nama1='Ani', nama2='Budi', nama3='Ciko', nama4='Dinda')

Ciko

## Lambda Function

In [54]:
sum = lambda arg1, arg2 : arg1 + arg2

# will equal to
def sum(arg1, arg2):
    return arg1 + arg2

In [57]:
def hitung(a, b):
    return a**2 + b**2

hitung(2, 3)

13

In [58]:
hitung = lambda a, b : a**2 + b**2

hitung(2, 3)

13

jadi alasan kenapa gak bisa kak:
karena dia import sekali pas filenya kosong

nah kan ipynb kernelnya masih jalan jadinya pas import lagi gak berubah (yang sebelumnya)

kalau mau import module baru bisa restart kernel atau bisa pakek importlib.reload